page-withdraw {

}
.downArrow{
    font-size: 3.2em;
    position: relative;
    left: 50%;
    margin-top: 11px;
}
ion-content {
  background-image: url('../../assets/imgs/background.jpg');;
}
.item-md{
    background: transparent;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: black;
}